/* google fints */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700');

/* Navbar */

.navbar-brand {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}

.navbar-toggler-icon {
    color: #fff;
}

/* Title Image */


/*.title-image {
   background: url("images/tax-image.png");
   background-color: #f9ecec;
   width: 100%;
   overflow: hidden;
}  */


/* Service flipcards*/
/* The template for this code was taken from W3 school - ammended to remove image and change colors*/
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 250px;
  perspective: 1000px; 
  display: block;
  margin-top: 5px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #990033;
  color: #f9ecec;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  padding: 70px 0px 70px 0px;
}

.flip-card-back {
  background-color: #f9ecec;
  color: #1a0008;
  transform: rotateY(180deg);
  font-family: "Montserrat", sans-serif;
}

.flip-card-back ul li {
    padding: 5px;
    list-style: none;
    text-align: center;
}

.services-flip-cards {
    width: 100%;
}

#services {
    background-color: #eff5f5;
    padding: 50px;
}

/* Important Dates*/
.dates-header {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-align: center;
    
}

.important-dates {
    background-color: #eff5f5;
}
.carousel-slide {
    background-color: #f9ecec;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 5px;  
}

.carousel-item li {
     list-style: none;  
}

/* Meet our team */ 
.team-header {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-align: center;
}

#team {
    font-family: "Raleway", sans-serif;
    margin: 0px;
    padding: 25px;
    background-color: #eff5f5;  
}

.team-member {
    background-color: #f9ecec;
    margin: 0px;
    width: 100%;
    background-clip: padding-box;
    border: 10px solid transparent;
}

.team-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    filter: grayscale(100%);
    margin-top: 7px;
}

h5 {
    margin: 10px;
}

.map {
    width: 100%;
    height: 400px;
}

/* Contact form*/
/* The template for this code was taken from Code Institute's Full Stack Developer Course's Mini Project Contact Form video */
.bg-colour-contact {
    background-color: #f9ecec;
}

.contact-header {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 15px;
}

.contact-sub-header {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #f9ecec;
    background-color: #990033;
}

/* Testimonials carousel*/
.carousel-slide-testimonials {
    background-color: #f9ecec;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 90px;
    max-width: 100%;
    margin-bottom: 10px;
    
}

.testimonials {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 15px;
}

/* Template for modifiying carousel controls was taken from Stack Overflow*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 40px;
  width: 40px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 25px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 25px;
  color: black;
}

/* Footer*/
footer {
    background-color: #f9ecec;
    color: #1a0008;
    min-height: 120px;
    margin: 0;
    padding: 20px;
}

.contact-details li {
    font-family: "Raleway", sans-serif;
    list-style: none;
    color: #000000;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 17px;
    line-height: 7px;
    color: #f9ecec;
    background: #990033;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background:  #4d0019;
}

.footer-details {
    padding: 40px;
}

/* Back to top link*/
.back-to-top {
    background-color: #f9ecec;
    text-transform: uppercase;
    text-decoration: none;
}
