/* google fints */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700');

/* Navbar */

.navbar-brand {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}

.navbar-toggler-icon {
    color: #fff;
}

/* Title Image */

/*
.title-image {
    width: 100px;
    height: 100px;
} */


/* Service flipcards*/
/* The template for this code was taken from W3 school - ammended to remove image and change colors*/
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 250px;
  perspective: 1000px; 
  display: block;
  margin-top: 5px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #990033;
  color: #f9ecec;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  padding: 70px 0px 70px 0px;
}

.flip-card-back {
  background-color: #f9ecec;
  color: #1a0008;
  transform: rotateY(180deg);
  font-family: "Montserrat", sans-serif;
}

.flip-card-back ul li {
    padding: 5px;
    list-style: none;
    text-align: center;
}

.services-flip-cards {
    width: 100%;
}

#services {
    background-color: #eff5f5;
    padding: 50px;
}

/* Meet our team */ 

#team {
    font-family: "Raleway", sans-serif;
    margin: 0px;
    padding: 25px;
    background-color: #eff5f5;  
}

.team-member {
    background-color: #f9ecec;
    margin: 0px;
    width: 100%;
    background-clip: padding-box;
    border: 10px solid transparent;
}

.team-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    filter: grayscale(100%);
    margin-top: 7px;
}

h5 {
    margin: 10px;
}

.map {
    width: 100%;
    height: 400px;
}
/* Footer */

footer {
    background-color: #f9ecec;
    color: #1a0008;
    min-height: 120px;
    margin: 0;
    padding: 20px;
}

.contact-details li {
    font-family: "Raleway", sans-serif;
    list-style: none;
    color: #000000;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 17px;
    line-height: 7px;
    color: #f9ecec;
    background: #990033;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background:  #4d0019;
}

.footer-details {
    padding: 40px;
}